@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}

:root {
  --grey: #282c34;
  --red: #e74c3c;
}

body {
  background: var(--grey);
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  transition: 0.2s;
  color: var(--red);
}

/* .homeContainer {
  display: flex;
  justify-content: center;
} */
.watchContainer {
  margin: 0.4rem;
  margin-top: 1rem;
  font-size: 3em;
}
.watch {
  color: var(--red);
}
.homeContainer h3 {
  font-size: 1.5em;
}
.homeContainer button {
  margin-top: 1.5rem;
  font-size: 2em;
  border-radius: 1.7rem;
  font-weight: 600;
  padding: 1rem;
}
.homeContainer img {
  filter: drop-shadow(0rem 0rem 0.1rem black);
}

/* MY CLASS SHORTCUTS*/

.center {
  display: flex;
  justify-content: center;
}

.c {
  margin: 0 auto;
}
h1,
h2,
h3 {
  color: white;
}
.whiteSmoke {
  color: var(--whiteSmoke);
}
.white {
  color: white;
}
.light {
  font-weight: 500;
}

/* MY CLASS SHORTCUTS*/

.nav {
  width: 100vw;
  background-color: var(--grey);
  filter: drop-shadow(0rem 0rem 0.1rem black);
}

.nav nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: white;
  max-height: 7rem;
}
.githubLogo {
  margin-left: -2.7rem;
  font-size: 1.5em;
}

.nav nav ul li {
  font-size: 2em;
  margin: 1rem;
  padding: 0.5rem;
}

/* NAV BAR END */

.containerContainer,
.container h2 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: white;
}
.container input[type="submit"] {
  margin-top: 1rem;
  color: black;
}

.usersOnline {
  position: absolute;
  display: flex;
  align-self: center;
  right: 2rem;
  padding: 0.7rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.4);
}

input {
  background: black;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  color: whitesmoke;
}
button {
  color: white;
  background: black;
  border: none;
  /* display: flex;
  justify-content: center; */
  margin: 0 auto;
  font-size: 1em;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: 0.2s;
}
button:hover {
  background: var(--red);
}

.joinCreateContainer {
  margin-top: 0.3rem;
  display: flex;
  justify-content: center;
}
.joinCreate h2 {
  font-size: 2em;
}
.joinCreate h3 {
  font-size: 1.6em;
}
.joinCreate input {
  font-size: 1.2em;
  padding: 1rem;
  border-radius: 2rem;
}
.joinCreate button {
  font-size: 1.2em;
  padding: 1rem;
  border-radius: 2rem;
}

.queueContainer h2 {
  margin-top: 1rem;
}
.queueContainer ul {
  padding: 1rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 50rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}
.queueContainer ul li {
  margin: 0.3rem auto;
  color: whitesmoke;
  list-style-type: none;
  text-decoration: none;
}

/* MODAL */

.modalBackground {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}
.modalContainer {
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 1rem;
  background: black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.modalContainer h1 {
  padding: 1.5rem;
  margin: 1.5rem;
  margin-bottom: 0rem;
}
.modalContainer input,
.modalContainer button {
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.3em;
  margin: 1rem;
}
.modalContainer input {
  background: whitesmoke;
  color: black;
  transition: 0.2s;
  border: 0.1rem solid black;
}
.modalContainer input:focus,
.modalContainer input:hover {
  background: var(--red);
  color: whitesmoke;
  background: black;
  border: 0.1rem white solid;
}
.modalContainer button {
  background: var(--red);
  transition: 0.2s;
}
.modalContainer button:hover {
  background: whitesmoke;
  color: black;
}

/* MODAL */

.reactPlayerContainer {
  width: 888px;
  height: 500px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  border-radius: 1rem;
}
.reactPlayerContainer span {
  height: 100%;
  /* background: black; */
}
.reactPlayerContainer h2 {
  display: flex;
  justify-content: center;
}

.messagingContainer {
  margin-top: 2rem;
}
.messagingContainer h2 {
  display: flex;
  justify-content: center;
}
.messagingContainer h2 div {
  position: absolute;
  align-self: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  margin-left: 10rem;
  font-size: 0.6em;
}
.messageArea {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem 0.2rem 0.2rem 1rem;
  height: 35rem;
  width: 30rem;
  margin: 1rem;
  padding: 1rem;
  overflow: auto;
}
.messageAreaContainer {
  /* background: black; */
  /* width: 30rem;
  display: block;
  margin: 0 auto; */
  display: flex;
  justify-content: center;
}
.messageArea::-webkit-scrollbar {
  width: 4px;
  transition: 0.1s;
}
.messageArea::-webkit-scrollbar {
  width: 10px;
}
.messageArea::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  transition: 0.1s;
}
.messageArea::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  transition: 0.1s;
}
.messageArea::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
.messageArea span {
  overflow: hidden;
  margin: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  display: block;
  word-wrap: break-word;
  min-height: 1rem;
}
.messageArea span#you {
  color: white;
}
.messageArea span#you div {
  color: rgba(255, 255, 255, 0.75);
}
.messageArea span#you li,
.messageArea span#other li {
  display: inline-flex;
}
.messageArea span#you li:last-child,
.messageArea span#other li:last-child,
.currentTime {
  margin-left: 1rem;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.4);
  display: inline-flex;
  list-style-type: none;
  text-decoration: none;
}
.messageArea span#other div {
  color: rgba(255, 255, 255, 0.6);
}
.messageArea span#other {
  color: rgba(255, 255, 255, 0.85);
}
.messageBoxContainer {
  display: flex;
  justify-content: center;
}
.messageBox {
  display: flex;
  justify-content: center;
  width: 25rem;
}
form.messageBox {
  margin-top: 0.2rem;
}
.messageBox span {
  background: rgba(0, 0, 0, 0.5);
  margin: 1rem;
  border-radius: 1rem;
}
.messageBox input {
  background: none;
  min-height: auto;
}
.messageBox *,
.messageBox input {
  font-size: 1em;
  margin-right: 0.1rem;
  border-radius: 0rem;
  transition: 0.2s;
}
.messageBox button {
  border-radius: 0rem 1rem 1rem 0rem;
  padding: 1rem;
}
.who {
  margin-left: 0.3rem;
  color: rgba(255, 255, 255, 0.4);
}

.error {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.2rem;
  border: 0.1rem solid black;
  width: 5rem;
  border-radius: 1rem;
  background: rgba(255, 0, 0, 0.4);
}

.sticky {
  position: sticky;
}
.copyMe {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0.6rem;
  border-radius: 0rem 0.5rem 0rem 0rem;
  background: rgba(0, 0, 0, 0.4);
}
.copyMe h1 {
  display: flex;
  justify-content: center;
}
